<div class="container">
    <div class="row">
        <div class="card">
            <div class="jumbotron">
                <form [formGroup]="studentFormGroup">
                    <h1>Student Registration</h1>
                    <label for="fname">FatherName:</label>
                    <input type="text" formControlName="fatherName"><br>
                    <label for="mname">MotherName:</label>
                    <input type="text" formControlName="motherName"><br>
                    <label for="no">MobileNo:</label>
                    <input type="number" formControlName="mobileNo"><br>
                    <label for="address">Address:</label>
                    <input type="text" formControlName="address"><br>
                    
                    <label for="name">StudentName:</label>
                    <input type="text" formControlName="studentName"><br>
                    <label for="age">Age:</label>
                    <input type="number" formControlName="studentAge"><br>
                    <button (click)="submit()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>