<div class="container">
    <div class="row">
        <div class="card-body">
            <div class="jumbotron">
            <table>
        <tr><td>S.NO.</td>
            <td>Ssession</td>
        <td>Standard</td>
        <td>SeatAvailabel</td>
        <td>TotalFees</td>
        <td>FirstInstallment</td>
        <td>SecondInstallment</td>
        <td>ThirdInstallment</td></tr>
        <tr></tr>
        <tr *ngFor="let list of enquiryList,let i of index">
             <td>{{1}}</td> 
            <td>{{list.SessionName}}</td>
        <td>{{list.StandardName}}</td>
        <td>{{list.SeatAvailable}}</td>
        <td>{{list.TotalFees}}</td>
        <td>{{list.FirstInstallment}}</td>
        <td>{{list.SecondInstallment}}</td>
        <td>{{list.ThirdInstallment}}</td>
         <td></td>
        <td><button routerLink='/studentAdmission'>ApplyForAdmission</button></td> 
        </tr>
            </table>
            </div>
        </div>
    </div>
</div>